/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #666666x;
  -webkit-text-fill-color: #666666x;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.red {color: red}

/** {
  outline: 1px solid red;
}*/

body, html, #root, .main {
  height: 100%;
  width: 100%;
}

h1 {
  margin-top: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ****************************** */
/* .login-form
/* ****************************** */
.login-form {
  text-align: center;
}
.login-form > div {
    display: block;
    width: 100%;
}
.login-form > div div {
    display: block;
    width: 100%;
}
.login-form{
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}

.error {
  font-family: Roboto, sans-serif;
}

.login-submit{
  width: 200px;
  margin: 12px auto;
}

/* ****************************** */
/* .dashboard
/* ****************************** */

.dashboard {
  display: flex;
  width: 100%;
  height: auto;
}

.dashboard .dashboard-body {
  width: 100%;
  padding: 10px 0px 30px 30px;
}

.dashboard .flyout-menu {
  position: relative;
  width: 10%;
  min-width: 200px;
  background: #363941;
}

.dashboard .flyout-menu .menu-links{
  position: absolute;
  width: 100%;
  z-index: 2;
}

.dashboard .flyout-menu .menu-links .flyout-item{
  position: relative;
  display: block;
  padding: 20px 25px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 2px;
}

/*.dashboard .flyout-menu .menu-links .flyout-item:hover{
  background: #5c616f;
}*/

/*.dashboard .flyout-menu .menu-links .flyout-item.active{
  background: #5c616f;
}*/

.dashboard .flyout-menu .menu-links .flyout-item.active::after{
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 10px 16px 0;
  border-color: transparent #fff transparent transparent;
}

.dashboard .flyout-menu .user-links{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.dashboard .flyout-menu .user-links .user-link{
  position: relative;
}

.dashboard .flyout-menu .user-links .user-link .user-link-svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.dashboard .flyout-menu .user-links .user-link a{
  position: relative;
  text-indent: -999999px;
  display: inline-block;
  padding: 20px 30px;
  cursor: pointer;
  z-index: 9999;
}

.project-list span{
  display: flex;
  flex-flow: row wrap;
  flex-basis: auto;
}

.project-item {
  width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all .3s;
}

.example-appear {
  transform: scale(0.01);
}

.example-appear.example-appear-active {
  transform: scale(1);
  transition: all 1s ease-in;
}

.example-enter.example-enter-active {
  transform: scale(1);
  transition: all 1000ms ease-in;
}

.example-leave {
  transform: scale(1);
}

.example-leave.example-leave-active {
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 1000ms ease-in;
}
